.App{
  margin:0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.todo-create{
  width: 800px;
  margin-left: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid #bda8a8;
  cursor: pointer;

}

.todo-input{
  width: 80%;
  border: none;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.todo-create-button{
  background-color: gold;
  padding: 2px;
  height: 35px;
  
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700px;
}